.navbar {
    overflow: hidden;
    background-color: rgba(166,100,41,1);
    margin:0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}
  
   
  
  .navbar a {
  
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    z-index: 2;
  }

  .navbar > .navleft { float: left;}

   
  
  .navbar a:hover {
  
    background: rgb(196, 194, 194);
    color: black;
  
  }

  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
 
   
  
  .main {
    color: #000000;
    padding: 16px;
    margin-top: 30px;
    height: 1700px;   /* Used in the main, for doing enable scrolling */
  
  }

   @media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }